        body {
            background-color: #004a94;
        }
        .breadcrumb {
            padding-top: 10px;
            background-color: #004a94;
            height: 40px;
        }
        .form-container {
            background-color: #004a94;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(167, 0, 0, 0.1);
        }
        .table-container {
            background-color: #004a94;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(136, 18, 18, 0.1);
        }
        .table thead th {
            background-color: #004a94;
        }